/*
https://cloud.google.com/compute/docs/general-purpose-machines#n1_machines
machineType 'n1-standard-1'
errorStrategy = 'terminate'

machineType ='n1-highmem-16'
*/
process {
  withLabel: 'kb_count' {
    container = 'eilalan/atomic_update:latest'
    cache = true
    executor = 'google-batch'
    cpus = 16
    time = '40 min'
    errorStrategy = 'retry'
    maxRetries=2
  }

  withLabel: 'download' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cache = true
    cpus = 2
    time = '10 min'
    errorStrategy = 'terminate'
  }
  
  /*
  memory = '512 GB'
  disk = '512 GB'
  cpus = 16
  */
  withLabel: 'kb_ref' {
    container = 'eilalan/atomic_update:latest'
    executor = 'google-batch'
    cache = 'true'
    machineType ='n1-highmem-32'
    time = '1 hour'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'download_kb_idx' {
    container = 'eilalan/atomic_update:latest'
    executor = 'google-batch'
    cache = 'true'
    disk = '512 GB'
    cpus = 4
    time = '40 min'
    errorStrategy = 'retry'
    maxRetries=2
  }
  
  withLabel: 'seqspec_local' {
    container = 'eilalan/seqspec_env:latest'
    executor = 'google-batch'
    cache = 'lenient'
    cpus = 1
    time = '2 min'
    errorStrategy = 'retry'
    maxRetries=3
  }
  
  withLabel: 'scrna_qc_calculate' {
    container = 'eilalan/rna_qc_env:latest'
    executor = 'google-batch'
    cache = false
    cpus = 4
    time = '10 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'scrna_qc_plot' {
    container = 'eilalan/rna_qc_env:latest'
    executor = 'google-batch'
    cache = false
    cpus = 1
    time = '10 min'
    errorStrategy = 'terminate'
  }
  
  docker {
    enabled = true
    privileged = true
    envWhitelist=['ENV_SYNAPSE_TOKEN']
  }
}

