
manifest {
  description = 'A nexflow pipeline for fg single cell atac' 
  mainScript = 'nf_wf_fg_singlecell_atac.nf'
}

profiles {
  google_batch_profile {
    workDir = 'gs://eila-nextflow-bucket/work/ATAC'
    includeConfig 'conf/docker-google-batch.config'
    docker.enabled = true
    wave.enabled = true
    fusion.enabled = true
    process.scratch = false
    executor = 'google-batch'
    docker.envWhitelist=['ENV_SYNAPSE_TOKEN','TOWER_ACCESS_TOKEN']
    google.project = 'hai-gcp-genomic'
    google.location = 'us-central1'
    google.batch.spot = true
    google.batch.serviceAccountEmail='eila-batch@hai-gcp-genomic.iam.gserviceaccount.com'
  }
}

// Define ENV_SYNAPSE_TOKEN as a parameter
params.FASTQS_SPEC_CH = '/Users/eilaarich-landkof-stanford/Documents/Code/atomic-workflows/nextflow/nf_data/test_atac_pipeline/local_atac_fastqs_files.tsv'
// CHROMAP
// 6a
params.CHROMAP_IDX='gs://eila-nextflow-bucket/test_atac_pipeline/ref.index'
// 6b:
// FASTA file
params.CHROMAP_READ_LENGTH = 2000
params.CHROMAP_BC_ERROR_THRESHOLD = 2
params.CHROMAP_BC_PROBABILITY_THRESHOLD = 0.9
params.CHROMAP_READ_FORMAT = 'bc:0:-1,r1:0:-1,r2:0:-1'
params.CHROMAP_DROP_REPETITIVE_READS = 4
params.CHROMAP_QUALITY_THRESHOLD = 0

// CHROMAP DEBUG: load output files 
params.CHROMAP_GENOME_REFERENCE_FASTA='/Users/eilaarich-landkof-stanford/Documents/Code/atomic-workflows/nextflow/nf_data/test_atac_pipeline/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz'
params.chromap_filter_fragments_tsv ='/Users/eilaarich-landkof-stanford/Documents/Code/atomic-workflows/nextflow/nf_data/test_atac_pipeline/BMMC_single_donor_ATAC_L001_R1_corrected_trimmed.fastq.atac.filter.fragments.tsv'
params.barcode_summary_csv ='/Users/eilaarich-landkof-stanford/Documents/Code/atomic-workflows/nextflow/nf_data/test_atac_pipeline/BMMC_single_donor_ATAC_L001_R1_corrected_trimmed.fastq.atac.align.barcode.summary.csv'

// Other steps

params.GENOME_GZ_GTF='http://ftp.ensembl.org/pub/release-109/gtf/homo_sapiens/Homo_sapiens.GRCh38.109.gtf.gz'
params.ENV_SYNAPSE_TOKEN = "nextflow secrets get SYNAPSE".execute().text.trim()


params.MAPQ_THRESHOLD = false
params.BARCODE_TRANSLATE = 'path'
params.ATAC_BARCODE_AND_POOL_SCRIPT='atac_barcode_filter_and_subpool.sh'
params.ATAC_FRAGMENTS_CUTOFF = 4
params.RUN_TABIX_SCRIPT='run_tabix.sh'
params.ATAC_TSS_BASES_FLANK = 2000
params.ATAC_TSS_COL_WITH_STRANDS_INFO = 4
params.ATAC_TSS_SMOOTHING_WINDOW_SIZE = 20
params.ATAC_TSS_REGION_BED_FILE='/Users/eilaarich-landkof-stanford/Documents/Code/atomic-workflows/nextflow/nf_data/test_atac_pipeline/hg38.synapse_transcripts.TSS.bed'
params.ATAC_TSS_BULK_CALCULATION_SCRIPT='compute_tss_enrichment_bulk.py'
params.ATAC_TSS_SNAPATAC2_CALCULATION_SCRIPT='compute_tss_enrichment_snapatac2.py'
params.ATAC_TSS_SNAPATAC2_GENES_GTF='/Users/eilaarich-landkof-stanford/Documents/Code/atomic-workflows/nextflow/nf_data/test_atac_pipeline/genes.gtf'
params.ATAC_TSS_SNAPATAC2_MIN_FRAG_CUTOFF = 10

params.ATAC_INSERT_SIZE_PLOT_SCRIPT='plot_insert_size_hist.py'

params.SC_ATAC_QC_PLOT_SCRIPT='scrna_plot_atac_qc_metrics.R'
params.SC_ATAC_QC_PLOT_HELPER_SCRIPT='barcode_rank_functions.R'
params.SC_ATAC_QC_BARCODE_METADATA_FILE='/Users/eilaarich-landkof-stanford/Documents/Code/atomic-workflows/nextflow/nf_data/test_atac_pipeline/barcode_metadata.txt'
params.SC_ATAC_QC_FRAGMENT_CUTOFF=10
params.SC_ATAC_QC_BARCODE_OUTPUT_FILE='sc_atac_qc_barcode_output_file.png'
    
params.SC_ATAC_BARCODE_METADATA_SCRIPT='generate_barcode_metadata.sh'
params.SC_ATAC_BARCODE_METADATA_FILTERED_BARCODE_STATS='/Users/eilaarich-landkof-stanford/Documents/Code/atomic-workflows/nextflow/nf_datanf_wf_fg_singlecell/filtered_barcode_stats.csv'
params.SC_ATAC_BARCODE_METADATA_TSS_ENRICHMENT_BARCODE_STATS='/Users/eilaarich-landkof-stanford/Documents/Code/atomic-workflows/nextflow/nf_datanf_wf_fg_singlecell/tss_enrichment_barcode_stats.csv'

params.SC_ATAC_GENERATE_BARCODE_RANK_PLOT_SCRIPT='plot_insert_size_hist.py'
params.SC_ATAC_GENERATE_BARCODE_RANK_PLOT_PKR='PKR123'

params.SC_JOINT_CELL_BARCODE_PLOT_SCRTIP_PY='joint_cell_plotting.py'
params.SC_JOINT_CELL_BARCODE_PLOT_SCRTIP_R='joint_cell_plotting_density.R'
