
manifest {
  description = 'A nexflow pipeline for fg single cell atac' 
  mainScript = 'nf_wf_fg_singlecell_atac.nf'
}

profiles {
  conda_profile {
    includeConfig 'conf/conda.config'
    conda.enabled = true
    executor = 'local'
  }

  docker_local {
    includeConfig 'conf/docker.config'
    docker.enabled = true
    docker.envWhitelist=['ENV_SYNAPSE_TOKEN','TOWER_ACCESS_TOKEN']
    executor = 'local'
  }
  google_batch_profile {
    workDir = 'gs://eila-nextflow-bucket/work/ATAC'
    includeConfig 'conf/docker-google-batch.config'
    docker.enabled = true
    wave.enabled = true
    fusion.enabled = true
    process.scratch = false
    executor = 'google-batch'
    docker.envWhitelist=['ENV_SYNAPSE_TOKEN','TOWER_ACCESS_TOKEN']
    google.project = 'hai-gcp-genomic'
    google.location = 'us-central1'
    google.batch.spot = true
    google.batch.serviceAccountEmail='eila-batch@hai-gcp-genomic.iam.gserviceaccount.com'
  }
}

// Define ENV_SYNAPSE_TOKEN as a parameter

params.FASTQS_SPEC_CH = "/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/atac_fastqs_files_vm.csv"
params.CHROMAP_IDX="/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/specs/dogmaseq-dig/Homo_sapiens.GRCh38.dna.primary_assembly.chromap.ref.index"

params.GENOME_FASTA='http://ftp.ensembl.org/pub/release-109/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
params.GENOME_GZ_GTF='http://ftp.ensembl.org/pub/release-109/gtf/homo_sapiens/Homo_sapiens.GRCh38.109.gtf.gz'
params.ENV_SYNAPSE_TOKEN = "nextflow secrets get SYNAPSE".execute().text.trim()

params.CHROMAP_TRIM_ADAPTERS = false
params.CHROMAP_REMOVE_PCR_DUPLICATES = false
params.CHROMAP_REMOVE_PCR_DUPLICATES_AT_CELL_LEVEL = false
params.CHROMAP_TN5_SHIFT = false
params.CHROMAP_LOW_MEM = false
params.CHROMAP_BED = false
params.CHROMAP_MAX_INSERT_SIZE = 20
params.CHROMAP_BC_ERROR_THRESHOLD = 20
params.CHROMAP_BC_PROBABILITY_THRESHOLD = 0.20
params.READ_FORMAT = 'r1:0:-1,bc:0:-1'
params.DROP_REPETITIVE_THRESHOLD = false
params.MAPQ_THRESHOLD = false
params.BARCODE_TRANSLATE = 'path'
//barcode_conversion_dict_file
params.BARCODE_CONVERSION_DICT_FILE = '/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/na.na'
params.SUBPOOL='  '
params.ATAC_BARCODE_AND_POOL='atac_barcode_and_subpool.sh'
params.ATAC_FRAGMENTS_CUTOFF = 4
params.RUN_TABIX_SCRIPT='run_tabix.sh'
params.ATAC_TSS_BASES_FLANK = 2000
params.ATAC_TSS_COL_WITH_STRANDS_INFO = 4
params.ATAC_TSS_SMOOTHING_WINDOW_SIZE = 20
params.ATAC_TSS_REGION_BED_FILE='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/tss_regions.bed'
params.ATAC_TSS_CALCULATION_SCRIPT='compute_tss_script.py'


params.SC_ATAC_QC_PLOT_SCRIPT='scrna_plot_atac_qc_metrics.R'
params.SC_ATAC_QC_PLOT_HELPER_SCRIPT='barcode_rank_functions.R'
params.SC_ATAC_QC_BARCODE_METADATA_FILE='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/barcode_metadata.txt'
params.SC_ATAC_QC_FRAGMENT_CUTOFF=4
params.SC_ATAC_QC_BARCODE_OUTPUT_FILE='sc_atac_qc_barcode_output_file.png'
    
params.SC_ATAC_BARCODE_METADATA_SCRIPT='generate_barcode_metadata.sh'
params.SC_ATAC_BARCODE_METADATA_FILTERED_BARCODE_STATS='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/filtered_barcode_stats.csv'
params.SC_ATAC_BARCODE_METADATA_TSS_ENRICHMENT_BARCODE_STATS='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/tss_enrichment_barcode_stats.csv'

params.SC_ATAC_GENERATE_BARCODE_RANK_PLOT_SCRIPT='plot_insert_size_hist.py'
params.SC_ATAC_GENERATE_BARCODE_RANK_PLOT_PKR='PKR123'

params.SC_JOINT_CELL_BARCODE_PLOT_SCRTIP_PY='joint_cell_plotting.py'
params.SC_JOINT_CELL_BARCODE_PLOT_SCRTIP_R='joint_cell_plotting_density.R'
