
manifest {
  description = 'A nextflow pipeline for fg single cell' 
  mainScript = 'nf_wf_fg_singlecell_rna.nf'
}

profiles {
  google_batch_profile {
    workDir = 'gs://eila-nextflow-bucket/work/RNA'
    includeConfig 'conf/docker-google-batch.config'
    docker.enabled = true
    wave.enabled = true
    fusion.enabled = true
    process.scratch = false
    executor = 'google-batch'
    docker.envWhitelist=['ENV_SYNAPSE_TOKEN','TOWER_ACCESS_TOKEN']
    google.project = 'hai-gcp-genomic'
    google.location = 'us-central1'
    google.batch.spot = true
    google.batch.serviceAccountEmail='eila-batch@hai-gcp-genomic.iam.gserviceaccount.com'
  }
}

// Define ENV_SYNAPSE_TOKEN as a parameter
params.ORGANISM = 'human'
params.FASTQS_SPEC_CH = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/vm_rna_input_files.tsv'
params.GENOME_FASTA_GZ = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz'
params.GENES_GTF = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/genes.gtf'
params.CELLATLAS_BUILD_SCRIPT = 'cellatlas_build.sh'
params.JQ_CELLATLAS_BUILD_JSON_SCRIPT = 'cellatlas_create_jq_commands_txt.sh'
params.KB_REF_WITH_JQ_COMMANDS='rna_kb_ref_with_jq_commands.sh'
params.TRANSCRIPTOME_FA='/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/transcriptome.fa'

params.EXECUTE_SEQSPEC_MODIFY='seqspec_run_modify.sh'
params.RETRIEVE_SEQSPEC_TECHNOLOGY='seqspec_retrieve_technology.sh'
params.EXECUTE_KB_COUNT_RNA_SCRIPT='rna_kb_count_execution.sh'
params.KB_COUNT_CPUS=16
//Debug until I have a complete seqspec
params.KB_COUNT_TECHNOLGY_FILE_DENUG='/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/technology_file.txt'

// STEP 7

params.RNA_MODIFY_KB_COUNT_H5AD_WITH_SUBPOOL='rna_modify_kb_count_output_barcode_h5.py'
params.RNA_MODIFY_CELL_GENE_WITH_SUBPOOL='rna_modify_kb_count_cell_gene_barcode.sh'

// STEP 8
params.RNA_JQ_CELLATLAS_OUTPUT_TO_LOG='cellatlas_jq_run_info_and_inspect.sh'
params.LOG_FILE_NAME='BMMC-single-donor.rna.log.hg38.txt'
// params.GENOME_FASTA = 'http://ftp.ensembl.org/pub/release-109/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
// params.GENOME_GZ_GTF = 'http://ftp.ensembl.org/pub/release-109/gtf/homo_sapiens/Homo_sapiens.GRCh38.109.gtf.gz'
// params.ENV_SYNAPSE_TOKEN = "nextflow secrets get SYNAPSE".execute().text.trim()
// params.SYNAPSE_CONFIG = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipelinenf_wf_fg_singlecell/synapse.config'
// params.SYNAPSE_IDS = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/nf_wf_fg_singlecell/synapse_ids.csv'
// params.SUBPOOL = 'no_subpool'
// params.UMI_CUTOFF = 2
// params.GENE_CUTOFF = 3
// params.SC_RNA_QC_SCRIPT = 'scrna_qc_metrics.py'
// params.SC_RNA_QC_PLOT_SCRIPT = 'scrna_plot_qc_metrics.R'
// params.SC_RNA_QC_PLOT_HELPER_SCRIPT = 'barcode_rank_functions.R'
// params.RNA_DEBUG_QC = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/nf_workflow/workflow_fg_single_cell_rna/sc_rna_qc_calculate.tsv'
