
manifest {
  description = 'A nextflow pipeline for fg single cell' 
  mainScript = 'nf_wf_fg_singlecell_rna.nf'
}

profiles {
  google_batch_profile {
    workDir = 'gs://eila-nextflow-bucket/work/RNA'
    includeConfig 'conf/docker-google-batch.config'
    docker.enabled = true
    wave.enabled = true
    fusion.enabled = true
    process.scratch = false
    executor = 'google-batch'
    docker.envWhitelist=['ENV_SYNAPSE_TOKEN','TOWER_ACCESS_TOKEN']
    google.project = 'hai-gcp-genomic'
    google.location = 'us-central1'
    google.batch.spot = true
    google.batch.serviceAccountEmail='eila-batch@hai-gcp-genomic.iam.gserviceaccount.com'
  }
}

// Define ENV_SYNAPSE_TOKEN as a parameter
params.ORGANISM = 'human'
params.FASTQS_SPEC_CH = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/vm_rna_input_files.tsv'
params.GENOME_FASTA_GZ = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz'
params.GENES_GTF = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/genes.gtf'
params.CELLATLAS_BUILD_SCRIPT = 'cellatals_build.sh'
params.JQ_CELLATLAST_BUILD_JSON_SCRIPT = 'jq_cellatlas_json.sh'
params.KB_REF_WITH_JQ_COMMANDS='kb_ref_with_jq_commands.sh'
params.TRANSCRIPTOME_FA='/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/transcriptome.fa'

params.EXECUTE_SEQSPEC_MODIFY='run_seqspec_modify.sh'
params.RETRIEVE_SEQSPEC_TECHNOLOGY='retrieve_technology_from_seqspec.sh'
params.EXECUTE_KB_COUNT_RNA_SCRIPT='execute_kb_count.sh'
params.KB_COUNT_CPUS=16


// params.GENOME_FASTA = 'http://ftp.ensembl.org/pub/release-109/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
// params.GENOME_GZ_GTF = 'http://ftp.ensembl.org/pub/release-109/gtf/homo_sapiens/Homo_sapiens.GRCh38.109.gtf.gz'
// params.ENV_SYNAPSE_TOKEN = "nextflow secrets get SYNAPSE".execute().text.trim()
// params.SYNAPSE_CONFIG = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipelinenf_wf_fg_singlecell/synapse.config'
// params.SYNAPSE_IDS = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/nf_wf_fg_singlecell/synapse_ids.csv'
// params.SUBPOOL = 'no_subpool'
params.UMI_CUTOFF = 2
params.GENE_CUTOFF = 3
params.SC_RNA_QC_SCRIPT = 'scrna_qc_metrics.py'
params.SC_RNA_QC_PLOT_SCRIPT = 'scrna_plot_qc_metrics.R'
params.SC_RNA_QC_PLOT_HELPER_SCRIPT = 'barcode_rank_functions.R'
// params.RNA_DEBUG_QC = '/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/wdl_rna_pipeline/nf_workflow/workflow_fg_single_cell_rna/sc_rna_qc_calculate.tsv'
