/*
https://cloud.google.com/compute/docs/general-purpose-machines#n1_machines
machineType 'n1-standard-1'
errorStrategy = 'terminate'

machineType ='n1-highmem-16'
*/
process {
  withLabel: 'kb_count' {
    container = 'eilalan/atomic_update:latest'
    cache = true
    executor = 'google-batch'
    cpus = 16
    time = '40 min'
    errorStrategy = 'retry'
    maxRetries=2
  }

  withLabel: 'download' {
    container = 'eilalan/atomic_update:latest'
    executor = 'google-batch'
    cache = true
    cpus = 2
    time = '10 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'kb_ref' {
    container = 'eilalan/atomic_update:latest'
    executor = 'google-batch'
    cache = 'true'
    machineType ='n1-highmem-32'
    time = '10 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'download_kb_idx' {
    container = 'eilalan/atomic_update:latest'
    executor = 'google-batch'
    cache = 'true'
    disk = '512 GB'
    cpus = 4
    time = '40 min'
    errorStrategy = 'retry'
    maxRetries=2
  }
  
  withLabel: 'seqspec_local' {
    container = 'eilalan/seqspec_env:latest'
    executor = 'google-batch'
    cache = 'lenient'
    cpus = 1
    time = '2 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'scrna_qc_calculate' {
    container = 'eilalan/rna_qc_env:latest'
    executor = 'google-batch'
    cache = false
    cpus = 4
    time = '10 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'scrna_qc_plot' {
    container = 'eilalan/rna_atac_plot_qc_env:latest'
    executor = 'google-batch'
    cache = false
    cpus = 1
    time = '10 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'scrna_atac_plot' {
    container = 'eilalan/rna_atac_plot_qc_env:latest'
    executor = 'google-batch'
    cache = true
    cpus = 1
    time = '10 min'
    errorStrategy = 'terminate'
  }
  
  /*
  cpus = 16
    disk='100 GB'
  */
  withLabel: 'chromap_map_idx' {
    container = 'eilalan/chromap_env:latest'
    executor = 'google-batch'
    errorStrategy = 'terminate'
    time = '2 day'
    machineType ='n1-highmem-32'
    disk = '1000GB'
  }
  
  withLabel: 'chromap_local' {
    container = 'eilalan/chromap_env:latest'
    executor = 'google-batch'
    cpus = 2
    errorStrategy = 'terminate'
    maxRetries =1 
    disk='50 GB'
  }
  
  withLabel: 'gzip' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-1'
    time = '30 min'
    errorStrategy = 'terminate'
    disk='20 GB'
  }

  withLabel: 'general' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-1'
    time = '10 min'
    errorStrategy = 'terminate'
  }

  withLabel: 'pool_fragments' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-1'
    time = '10 min'
    errorStrategy = 'terminate'
  }

  withLabel: 'pool_dictionary' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-2'
    time = '30 min'
    errorStrategy = 'terminate'
  }

  withLabel: 'pool_filter' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-4'
    time = '30 min'
    errorStrategy = 'terminate'
    disk='50 GB'
  }

  withLabel: 'bgzip' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-1'
    time = '30 min'
    errorStrategy = 'terminate'
    disk='50 GB'
  }
  withLabel: 'pool_prefix' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-2'
    time = '20 min'
    disk='50 GB'
    errorStrategy = 'terminate'
  }

  withLabel: 'zcat_insert' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-1'
    time = '20 min'
    errorStrategy = 'terminate'
  }

  withLabel: 'zcat' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-1'
    time = '20 min'
    errorStrategy = 'terminate'
  }

  withLabel: 'gunzip' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType ='n1-standard-2'
    time = '20 min'
    errorStrategy = 'terminate'
  }

  withLabel: 'tabix_singelston' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-4'
    time = '40 min'
    errorStrategy = 'terminate'
  }

  withLabel: 'tabix' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-2'
    time = '20 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'merge_log' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-1'
    time = '20 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'generate_barcode_metadata' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-1'
    time = '20 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'filter_fragments' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-4'
    time = '40 min'
    disk = '50 GB'
    errorStrategy = 'terminate'
  }
  withLabel: 'tabix_after_fragments' {
    container = 'eilalan/utils_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-1'
    time = '20 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'tss_bulk' {
    container = 'eilalan/tss_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-16'
    time = '20 min'
    errorStrategy = 'terminate'
  }
  withLabel: 'tss_snapatac2' {
    container = 'eilalan/tss_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-16'
    time = '20 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'atac_barcode_rank_plot' {
    container = 'eilalan/rank_plot_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-1'
    time = '4 min'
    errorStrategy = 'terminate'
  }
  
   withLabel: 'joint_barcode_metadata_py' {
    container = 'eilalan/rank_plot_env:latest'
    executor = 'google-batch'
    cache = true
    machineType = 'n1-standard-1'
    time = '4 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'joint_barcode_metadata_r' {
    container = 'eilalan/joint_plot_r_env:latest'
    executor = 'google-batch'
    cache = false
    machineType = 'n1-standard-1'
    time = '4 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'joint_metrics_html_report' {
    container = 'eilalan/rank_plot_env:latest'
    executor = 'google-batch'
    cache = false
    machineType = 'n1-standard-1'
    time = '4 min'
    errorStrategy = 'terminate'
  }
  
  docker {
    enabled = true
    privileged = true
    envWhitelist=['ENV_SYNAPSE_TOKEN']
  }
}

