process {

  withLabel: 'seqspec' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 1
    maxRetries=1
    time = '5 min'
  }

  withLabel: 'bustool' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 8
    maxRetries=1
    time = '30 min'
  }

  withLabel: 'chromap_idx' {
    container = 'eilalan/chromap_env:latest'
    executor = 'local'
    cpus = 32
    maxRetries =1 
    disk='50 GB'
    time = '30 min'
  }

  withLabel: 'chromap' {
    container = 'eilalan/chromap_env:latest'
    executor = 'local'
    cpus = 8
    maxRetries =1 
    disk='50 GB'
    time = '10 min'
  }

  withLabel: 'download' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 4
    maxRetries=1 
    time = '10 min'
  }

  docker {
    enabled = true
    }
}