/*
worked for all seqspec commands
*/
process {
  withLabel: 'seqspec_local' {
    container = 'eilalan/seqspec_env:latest'
    executor = 'local'
    cpus = 1
    scratch = true
    time = '2 min'
    errorStrategy = 'terminate'
  }
  
  withLabel: 'bustool' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 8
    maxRetries=1
  }

/*
worked for mapping the fastq files to the index file
*/
  withLabel: 'chromap_idx' {
    container = 'eilalan/chromap_env:latest'
    executor = 'google-batch'
    cpus = 32
    errorStrategy = 'terminate'
    maxRetries =1 
    disk='500 GB'
  }
  
  /*
  Worked for index creation
  */
  withLabel: 'chromap_map_idx' {
    container = 'eilalan/chromap_env:latest'
    executor = 'google-batch'
    errorStrategy = 'terminate'
    time = '20 min'
    cpus = 16
    disk='50 GB'
  }

  withLabel: 'chromap_local' {
    container = 'eilalan/chromap_env:latest'
    executor = 'local'
    cpus = 2
    errorStrategy = 'terminate'
    maxRetries =1 
    disk='50 GB'
  }

  withLabel: 'download' {
    container = 'eilalan/atomic_update:latest'
    executor = 'local'
    cpus = 2
    time = '20 min'
    maxRetries=1 
  }

  docker {
    enabled = true
    privileged = true
    envWhitelist=['ENV_SYNAPSE_TOKEN']
  }
}