
manifest {
  description = 'A nexflow pipeline for fg single cell joint qc' 
  mainScript = 'nf_wf_fg_singlecell_joint.nf'
}

profiles {
  google_batch_profile {
    workDir = 'gs://eila-nextflow-bucket/work/ATAC'
    includeConfig 'conf/docker-google-batch.config'
    docker.enabled = true
    docker.envWhitelist=['ENV_SYNAPSE_TOKEN']
    executor = 'google-batch'
    google.project = 'hai-gcp-genomic'
    google.location = 'us-central1'
    google.batch.spot = false
    google.batch.serviceAccountEmail='eila-batch@hai-gcp-genomic.iam.gserviceaccount.com'
  }   
}

// Define ENV_SYNAPSE_TOKEN as a parameter
params.SC_JOINT_CELL_BARCODE_PLOT_SCRIPT_PY='joint_cell_plotting.py'
params.SC_JOINT_CELL_BARCODE_PLOT_RNA_METRICS='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/na.na'
params.SC_JOINT_CELL_BARCODE_PLOT_ATAC_METRICS='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/na1.na'
//Minimum number of UMIs/fragments required for a cell to be plotted
params.SC_JOINT_CELL_BARCODE_PLOT_REMOVE_LOW_YIELDING_CELLS=5
params.SC_JOINT_CELL_BARCODE_PLOT_METADATA_FILE='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/na2.na'
params.SC_JOINT_CELL_BARCODE_PLOT_MIN_UMIS=5
params.SC_JOINT_CELL_BARCODE_PLOT_MIN_GENES=5
params.SC_JOINT_CELL_BARCODE_PLOT_MIN_TSS=5
//Cutoff for minimum number of ATAC fragments
params.SC_JOINT_CELL_BARCODE_PLOT_MIN_FRAGS=5
params.SC_JOINT_CELL_BARCODE_PLOT_PKR='PKR123'
params.SC_JOINT_CELL_BARCODE_PLOT_SCRIPT_R='joint_cell_plotting_density.R'

params.SC_JOINT_CELL_BARCODE_PLOT_HTML_SCRIPT='write_html.py'
params.SC_JOINT_CELL_BARCODE_PLOT_HTML_ATAC_METRICS='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/na.na'
params.SC_JOINT_CELL_BARCODE_PLOT_HTML_RNA_METRICS='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/na1.na'
params.SC_JOINT_CELL_BARCODE_PLOT_HTML_IMAGE_FILES='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/na2.na'
params.SC_JOINT_CELL_BARCODE_PLOT_HTML_LOG_FILES='/home/eila/git_igvf/cellatlas-scrna-seq-pipeline/nextflow/nf_data/nf_wf_fg_singlecell/na3.na'
