
manifest {
  description = 'A nexflow pipeline for fg single cell atac' 
  mainScript = 'nf_wf_fg_singlecell_joint.nf'
}

profiles {
  google_batch_profile {
    workDir = 'gs://eila-nextflow-bucket/work/JOINT'
    includeConfig 'conf/docker-google-batch.config'
    docker.enabled = true
    wave.enabled = true
    fusion.enabled = true
    process.scratch = false
    executor = 'google-batch'
    docker.envWhitelist=['ENV_SYNAPSE_TOKEN','TOWER_ACCESS_TOKEN']
    google.project = 'hai-gcp-genomic'
    google.location = 'us-central1'
    google.batch.spot = true
    google.batch.serviceAccountEmail='eila-batch@hai-gcp-genomic.iam.gserviceaccount.com'
  }
}

// Define ENV_SYNAPSE_TOKEN as a parameter
params.SC_JOINT_CELL_BARCODE_PLOT_SCRIPT_PY='joint_cell_plotting.py'

//Minimum number of UMIs/fragments required for a cell to be plotted
params.SC_JOINT_CELL_BARCODE_PLOT_REMOVE_LOW_YIELDING_CELLS=10
params.SC_JOINT_CELL_BARCODE_PLOT_METADATA_FILES='/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/test_joint_pipeline/vm_joint_files.tsv'
params.SC_JOINT_CELL_BARCODE_PLOT_MIN_UMIS=100
params.SC_JOINT_CELL_BARCODE_PLOT_MIN_GENES=200
params.SC_JOINT_CELL_BARCODE_PLOT_MIN_TSS=4

//Cutoff for minimum number of ATAC fragments
params.SC_JOINT_CELL_BARCODE_PLOT_MIN_FRAGS=100
params.SC_JOINT_CELL_BARCODE_PLOT_PKR='BMMC-single-donor'
params.SC_JOINT_CELL_BARCODE_PLOT_SCRIPT_R='joint_cell_plotting_density.R'

//params.SC_JOINT_CELL_BARCODE_PLOT_HTML_LIST_SCRIPT='create_list.sh'
params.SC_JOINT_CELL_BARCODE_PLOT_HTML_SCRIPT='write_html.py'
params.SC_JOINT_CELL_BARCODE_PLOT_HTML_FILES='/home/eila/git_igvf/atomic-workflows/nextflow/nf_data/test_joint_pipeline/vm_joint_html.tsv'



